.videos {
	width: 100%;
	border-bottom: 1px solid var(--main-fg-color);
}

.videos__content {
    padding: 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.video {
    margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
    .video {
        flex: 1 1 calc(33% - 20px);
        max-width: calc(33% - 20px);
    }
}

@media screen and (max-width: 992px) {
    .video {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.video__title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.video__holder {
    position: relative;
    padding-bottom: 100%;
}

.video__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.7);
}

.video__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: var(--main-bg-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 35px;
    color: var(--main-fg-color);
    transition: all var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.video__popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow-y: auto;
    padding: 60px 0;
}

.video__popup--active {
    display: flex;
}

.video__popup-content {
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
}

.video__popup-holder {
    position: relative;
    padding-bottom: 56.25%;
}

.video__popup-holder iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video__popup-close {
    margin-left: auto;
    margin-bottom: 20px;
    background-color: var(--main-bg-color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 25px;
    color: var(--main-fg-color);
    transition: all var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}