.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.lang__btn {
    cursor: pointer;
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
}